body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width:960px;
  margin:0 auto;
  text-align: center;

}
nav{
  background-color: rgb(69, 110, 146);
  padding:16px 0;
}
header ul{
  list-style: none;
  display: flex;
  margin:0;
  justify-content: space-between;
}
header li{
  line-height: 1.5;
  padding:0 1.5rem;
}

header a{
  text-decoration: none;
  margin-right: 1.5rem;
  color:#dbdbdb;
  text-align: center;
}

p{
 margin: 16px 0;
}

main a, button{
  text-decoration: none;
  margin:16px;
  padding:10px;
  background-color: rgb(69, 110, 146);
  border-radius: 5px;
  color:white;
  border:none;
}

form{
  border:1px solid  rgb(69, 110, 146);
  width:500px;
  display: inline-block;
  padding:16px 20px 0 20px;
}
form div{
  margin:16px 0;
  display:flex;
  flex-direction: column;
}

form input{
  padding:5px;
  margin:10px 0;
}
 ul{
   list-style: none;
 }

.search-icon img{
  width:30px;
}