<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workspaces</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="login">Account login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Login Form</h2>

      <form id="login" action="/login" method="POST">
        <div>
          <label for="email"><b>Email address:</b>
            <span class="warning">
              <%- emailWarning %>
            </span></label>
          <input id="email" type="text" name="email" placeholder="account@email.com" value="<%-email%>" />
        </div>
        <div>
          <label for="password">
            <b>Password:</b>
            <span class="warning">
              <%- passwordWarning %>
            </span></label>
          <input id="password" type="text" name="password" placeholder="account password " value="<%- password %>" />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </main>
  <script src="js/forms.js"></script>
</body>

</html>